#![enable(implicit_some)]
Container(
    transform: (
        id: "background",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.,
        height: 20.,
    ),
    background: SolidColor(0., 0., 0., 1.0),
    children: [
        /*Image(
            transform: (
                id: "logo",
                y: 32.,
                width: 64.,
                height: 64.,
                tab_order: 1,
                anchor: BottomMiddle,
                mouse_reactive: true,
            ),
            image: Texture(File("texture/logo_transparent.png", ("IMAGE", ()))),
        ),*/
        Button(
            transform: (
                id: "play_bt",
                x: 500.,
                y: -250.,
                z: 11.,
                width: 500.,
                height: 100.,
                tab_order: 1,
                anchor: TopLeft,
                mouse_reactive: true,
            ),
            button: (
                text: "Jouer",
                font: File("fonts/comic.ttf", ("TTF", ())),
                font_size: 32.,
                normal_text_color: (0.0, 0.0, 0.0, 1.0),
                normal_image: SolidColor(0.95, 0.90, 0.10, 1.0),
            )
        ),
    ],
)
